{% extends "navbar.html" %}

{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title>Hacker News</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    </head>
    <body>
        <main>
            <h1>Hacker News (靜態網頁爬蟲)</h1>
            <ul>
                {% for news in news_list %}
                    <li>
                        <a href="{{ news.url }}" target="_blank">
                            {{ news.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </main>
    </body>
</html>
{% endblock %}